

<!DOCTYPE html>
<html>
<head>
    <title>Evaluate Question Answer</title>
    <link rel="stylesheet" href="static/bootstrap.min.sketchy.css">
    <link rel="stylesheet" type="text/css" href="static/custom.css">
</head>
<body>

<div class="container mt-5">

    <h3>Evaluate an Answer to a Question</h3>

    <form id="evaluateForm" action="/qa" method="POST">
        <div class="form-group">
            <label for="question">Question</label>
            <input type="text" class="form-control" id="question" name="question" placeholder="Enter question" required 
                {% if question %}value="{{question}}"{% endif %}>
        </div>
        <div class="form-group">
            <label for="answer">Answer</label>
            <textarea type="text" class="form-control" id="answer" name="answer" rows="2" 
                placeholder="Enter answer" required>{% if answer %}{{answer}}{% endif %}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Evaluate</button>
    </form>

    {% if evaluation %}
    <br/>
    <h4>Evaluation from {{ evaluation.evaluator_name }}</h4>
    <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">Criteria</th>
            <th scope="col">Score</th>
            <th scope="col">Comments</th>
          </tr>
        </thead>
        <tbody>
        {% for scoring in evaluation.scores %}
            <tr>
                <th>{{ scoring.name }}</th>
                <td>{{ scoring.score }}</td>
                <td>{{ scoring.comments }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
</div>
</body>
</html>

